*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Inter', sans-serif
}
body{
     line-height: 1.5;
     font-size: 12px;
}

.header{
    &__store__notice{
        color: #fff;
        background-color: #233a95;
        &__container{
            font-size: .75rem;
            text-align: center;
            padding-top: 0.5625rem;
            padding-bottom: 0.5625rem;
            span{
                display: inline-block;
                font-weight: bolder;
            }
        }
    }
    &__top{
        color: #3e445a;
        background-color: #fff;
        border-bottom: 1px solid #e3e4e6;
        font-size: 12px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1200px;
            height: 2.4375rem;
            &__left{
                display: flex;
                align-items: center;
                font-size: 12px;
                &__list{
                    display: flex;
                    margin-top: auto;
                    margin-bottom: auto;
                    li{
                        height: 2.4375rem;
                        display: flex;
                        align-items: center;
                        margin-left: 0.9375rem;
                        a{
                            color: currentColor;
                            transition: all 0.2s cubic-bezier(.28,.12,.22,1);
                        }
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
            &__right{
                display: flex;
                align-items: center;
                padding-left: 1.875rem;
                margin-left: auto;
                &__left{
                    margin-left: 1.125rem;
                    padding-left: 1.125rem;
                    position: relative;
                    svg{
                        position: absolute;
                    }
                    span{
                        margin-left: 1.875rem;
                    }
                }
                &__middle{
                    margin-left: 1.125rem;
                    padding-left: 1.125rem;
                    border-left: 1px solid #edeef5;
                    strong{
                        transition: all 0.2s cubic-bezier(.28,.12,.22,1);
                        color: #2bbef9;
                        font-weight: bolder;
                    }
                }
                &__right{
                    margin-left: 1.125rem;
                    display: flex;
                    align-items: center;
                    border-left: 1px solid #edeef5;
                    ul{
                        margin-bottom: 0;
                        padding-left: 0;
                        margin-left: 1.125rem;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        li{
                            margin-left: 0.9375rem;
                            &:first-child{
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    &__middle{
        background-color: #ffffff;
        padding-top: 1.875rem;
        color: #3e445a;
        display: flex;
        justify-content: center;
        &__container{
            width: 1200px;
            display: flex;
            flex-direction: row;
            &__left{
                a{
                    color: currentColor;
                    background-color: transparent;
                    img{
                        width: 164px;
                    }
                    span{
                        display: block;
                        font-size: .6875rem;
                        opacity: .5;
                        margin-top: 2px;
                        color: currentColor;
                    }
                }
            }
            &__center{
                padding-left: 3.75rem;
                display: flex;
                &__left{
                    margin-right: 1.875rem;
                    display: flex;
                    a{
                        background-color: #ffffff;
                        position: relative;
                        color: #3e445a;
                        border-color: #d9d9e9;
                        width: 11.25rem;
                        height: 3.75rem;
                        padding-left: 1.125rem;
                        padding-right: 1.125rem;
                        border: 1px solid #d9d9e9;
                        box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
                        border-radius: 7px;
                        transition: box-shadow 0.3s cubic-bezier(.83,.26,.19,.87),-webkit-box-shadow 0.3s cubic-bezier(.83,.26,.19,.87);
                        span{
                            display: inline-block;
                            margin-top: 10px;
                            font-size: .625rem;
                            opacity: .5;
                        }
                        i{
                            position: absolute;
                            top:40%;
                            right: 15px;
                        }
                    }
                    &__down{
                        color: #233a95;
                        font-size: .8125rem;
                        font-weight: 600;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                    }
                }
                &__right{
                    width: 600px;
                    position: relative;
                    line-height: 100%;
                    display: block;
                    color: #444;
                    width: 550px;
                    text-align: left;
                    margin: 0 auto;
                    input{
                        border:none;
                        background-color: #f3f4f7;
                        width: 100%;
                        // width: 100vw;
                        color: #202435;
                        border-color: #f3f4f7;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        border-radius: 7px;
                        height: 3.75rem;
                        font-size: .9375rem;
                        width: 100%;
                        padding: 0 0.9375rem;
                        box-shadow: none;
                        outline: none;
                        transition: all 0.2s cubic-bezier(.28,.12,.22,1);
                        appearance: none;
                    }
                    svg{
                        position: absolute;
                        color: #202435;
                        width: 20px;
                        height: 20px;
                        right: 20px;
                        top: 30%;
                    }
                }
            }
            &__right{
                margin-left: 1.875rem;
                display: flex;
                align-items: center;
                &__login{
                    position: relative;
                    color: #3e445a;
                    text-decoration: none;
                    a{
                        background-color: transparent;
                        position: relative;
                        color: #3e445a;
                        text-decoration: none;
                        background-color: #ffffff;
                        border-color: #e2e4ec;
                        font-size: 1.125rem;
                        width: 2.625rem;
                        height: 2.625rem;
                        border: 1px solid #e2e4ec;
                        padding: 10px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            text-shadow: 0 0 0;
                            line-height: 1;
                            width: 18px !important;
                            height: 18px;
                        }
                    }
                }
                &__card{
                    
                }
            }
        }
    }
    &__down{

    }
}